# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ExpressApp/.env
.postman/resources.yaml
postman/collections/New Collection/addUser.request.yaml
postman/collections/New Collection/getUser.request.yaml
postman/collections/New Collection/.resources/definition.yaml
postman/globals/workspace.globals.yaml
